# Append Attributes to Fractures

Sometimes we see to either visualise or analyse fractures by some other attribute along the well path. This notebook illustrates a method for appending attributes to the fracture dataframe. 

This method only works where the category values which are being appended are unique. The first example uses the stratigraphy dataframe (dfstrat) which meets this condition. While the second example uses the mechanical stiffness dataframe (dfstifness) where 'Hard Rock' is repeated. In this second example, we need to temporarily replace the attributes so the method works.

In [20]:
# Python version = 3.6
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

## Import fracture data as Pandas dataframe

In [21]:
dffractures = pd.read_csv(r'testdata-fractures.csv')
dffractures.head()

   depth_mMDRF  dipazimuth_deg   dip_deg       type
0  1224.559944       174.87238  78.54814  Cond_FTCC
1  1224.830215       171.09971  71.07558  Cond_FTCC
2  1225.193391       170.17670  70.48370  Cond_FTCC
3  1225.535453       168.36274  69.19910  Cond_FTCC
4  1226.063326       174.29375  72.06275  Cond_FTCC

## Example 1: Attribues are Unique

Here I've created data using the dictionary method. If you have data in a csv, you can import these using the same method used for the fractures above.

In [22]:
data = {
        'from': [1219, 1400, 1600, 2000], 
        'to': [1400, 1600, 2000, 2152], 
        'rocktype': ['Some Rock', 'Exciting Rock', 'Another Rock', 'Almost Rock'],
       }

dfstrat = pd.DataFrame(data=data)
dfstrat

   from    to       rocktype
0  1219  1400      Some Rock
1  1400  1600  Exciting Rock
2  1600  2000   Another Rock
3  2000  2152    Almost Rock

In [23]:
# call the unit tops to a list
bins_strat = dfstrat['from'].to_list() 
# append the deepest value to the bins list
bins_strat.append(dfstrat['to'].iloc[-1])
print(bins_strat)

[1219, 1400, 1600, 2000, 2152]

In [24]:
# make a category list
units_strat = dfstrat['rocktype'].to_list()
print(units_strat)

['Some Rock', 'Exciting Rock', 'Another Rock', 'Almost Rock']

In [25]:
# append strat units to the fracture dataframe based on depth
dffractures['Strat'] = pd.cut(dffractures['depth_mMDRF'],
                              bins_strat,
                              labels=units_strat)

print(dffractures['Strat'].value_counts(),'\n')
dffractures.head(3)

Almost Rock      608
Another Rock     349
Some Rock         94
Exciting Rock     91
Name: Strat, dtype: int64

   depth_mMDRF  dipazimuth_deg   dip_deg       type      Strat
0  1224.559944       174.87238  78.54814  Cond_FTCC  Some Rock
1  1224.830215       171.09971  71.07558  Cond_FTCC  Some Rock
2  1225.193391       170.17670  70.48370  Cond_FTCC  Some Rock

## Example 2: Attributes are not unique

In [26]:
data = {
        'from': [1219, 1400, 1600, 2000], 
        'to': [1400, 1600, 2000, 2152], 
        'rocktype': ['Hard Rock', 'Soft Rock', 'Hard Rock', 'Alt Country'],
       }

dfstifness = pd.DataFrame(data=data)
dfstifness

   from    to     rocktype
0  1219  1400    Hard Rock
1  1400  1600    Soft Rock
2  1600  2000    Hard Rock
3  2000  2152  Alt Country